/* body {
    background-image: url("../Assets/thor-thor-infinity-war.gif");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
} */
 
body {
    background-image: url("../css/Assets/ram\ temple.jpg no-repeat ") fixed;
}